@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 2rem 0;
  padding: 1rem 2rem;
  width: 120px;
  cursor: pointer;
}